<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WEBSERVICE_URL" connectionString="http://10.110.160.51:75/MCSWebService.asmx" />
    <add name="MESSAGEBUS_TYPE" connectionString="TIBCORV" />
    <!--ACTIVEMQ,TIBCORV,JMS-->
  </connectionStrings>
  <appSettings>
    <add key="LOGPATH_LOGPATH" value="D:\MCSClient\Logs" />
    <add key="LOGS_RESERVEDDAY" value="7" />
    <add key="STOCKER_ROW" value="9" />
    <add key="STOCKER_COLUMN" value="32" />
    <add key="STOCKER_RETICLE_ROW" value="11" />
    <add key="STOCKER_RETICLE_COLUMN" value="8" />
    <add key="STOCKER_DIRECTION" value="2" />
    <add key="STOCKER_MANUALPORT_1_LOCATIONID" value="30101" />
    <add key="STOCKER_MANUALPORT_2_LOCATIONID" value="30102" />
    <add key="STOCKER_MANUALPORT_1_NAME" value="30101" />
    <add key="STOCKER_MANUALPORT_2_NAME" value="30102" />
    <add key="ERACK_RETICLE_ROW" value="4" />
    <add key="ERACK_RETICLE_COLUMN" value="5" />
    <add key="ERACK_FOUP_ROW" value="3" />
    <add key="ERACK_FOUP_COLUMN" value="4" />
    <add key="ERACK_DIRECTION" value="1" />
    <add key="ERACK_CHARACTER_LOCATION_TO_DISTRIBUTE_EQUIPMENT_TYPE" value="4" />
    <add key="ERACK_DISPLAYBOARD_COLUMN_COUNT" value="3" />
    <add key="ERACK_DISTANCE_BETWEEN_TWO_ITEM" value="15" />
    <add key="DISPLAYBOARD_FONT" value="Consolas" />
    <add key="DISPLAYBOARD_SIZE" value="9" />
    <add key="DISPLAYBOARD_LOCATION_X" value="10" />
    <add key="DISPLAYBOARD_LOCATION_Y" value="2" />
    <add key="DISPLAYBOARD_SIZE_STOCKER" value="9" />
    <add key="DISPLAYBOARD_LOCATION_X_STOCKER" value="5" />
    <add key="DISPLAYBOARD_LOCATION_Y_STOCKER" value="3" />
    <add key="TIMER_INTERVAL" value="0.2" />
    <add key="TIMER_COUNTTOSTOP" value="5" />
    <add key="TRANSFERTIMER_INTERVAL" value="500" />
    <add key="TRANSFERTIMER_COUNTTOSTOP" value="45" />
    <add key="TIBCORV_FROM_EAP_MESSAGE_FIELD" value="xmlData" />
    <add key="TIBCORV_FROM_EAP_SUBJECT" value="SEEYA.PRO.MCS.MCSClient" />
    <add key="TIBCORV_FROM_EAP_NETWORK" value=";225.15.15.8" />
    <add key="TIBCORV_FROM_EAP_PORT" value="15800" />
    <add key="TIBCORV_FROM_EAP_DEAMON" value="tcp:10.110.160.61:7500;tcp:10.110.160.62:7500" />
    <add key="TIBCORV_TO_EAP_MESSAGE_FIELD" value="xmlData" />
    <add key="TIBCORV_TO_EAP_SUBJECT" value="SEEYA.PRO.MCSClient.MCS" />
    <add key="TIBCORV_TO_EAP_NETWORK" value=";225.15.15.8" />
    <add key="TIBCORV_TO_EAP_PORT" value="15800" />
    <add key="TIBCORV_TO_EAP_DEAMON" value="tcp:10.110.160.61:7500;tcp:10.110.160.62:7500" />
    <add key="TRANSFER_STPCKER" value="T" />
    <add key="TRANSFER_ERACK" value="T" />
    <add key="TIMEOUT" value="10" />
    <add key="TIMESPACE" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MCSWebServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:75/MCSWebService.asmx" binding="basicHttpBinding" bindingConfiguration="MCSWebServiceSoap" contract="MCSWebServiceReference.MCSWebServiceSoap" name="MCSWebServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>